<img src="https://purchase-app-backet.s3.amazonaws.com/uploads/store.jpg" class="card" class="img-fluid" alt="Responsive image">

<h3><%= @blog.title%></h3>

<p><%= @blog.content %></p>

<div class="">
  <%= render @relational_blogs %>
</div>
