
  <%= link_to articles_path do%>
  <div class="center" style = "background-color: #EAD9FF ;height: 100px">
   <h1 style = "line-height: 100px">プログラミング共有しよーぜ</h1>
  </div>
  <% end %>
</div>

<nav>

<div class="nav-list" style = "padding:20px">

<ul class="nav list-group-horizonl right">
  <li class="nav-item ">
    <%= link_to "カテゴリー別",categories_path, class: "nav-link nav-content"%>
  </li>
</ul>

</div>


</nav>

</div>
